data/
local/
release/
libsites-config

debian/files
debian/*.debhelper.log
debian/*.postinst.debhelper
debian/*.postrm.debhelper
debian/*.prerm.debhelper
debian/*.substvars
debian/*/

doc/libsites.pdf
doc/libsites.html
doc/libsites.tmp

libsites_*.deb

t/config/isil/*
t/config/isil/DE-ABCDE/*
!t/config/isil/DE-ABCDE
!t/config/isil/DE-ABCDE/sites.txt
