Source: libsites
Section: misc
Priority: extra
Maintainer: Jakob Voß <jakob.voss@gbv.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.2
 
Package: libsites
Architecture: any
Depends: git,
 perl-base (>= 5.14.1),
 starman,
 librdf-trine-perl,
 libgit-repository-perl,
 librdf-ns-perl,
 liblog-contextual-perl,
# Catmandu
 libapp-cmd-perl,
 libclone-perl,
 libconfig-any-perl,
 libhash-merge-simple-perl,
 libdata-compare-perl,
 libdata-util-perl,
 libdata-compare-perl,
 libossp-uuid-perl,
 libfile-find-rule-perl,
 libio-handle-util-perl,
 libjson-xs-perl,
 liblist-moreutils-perl,
 liblog-any-perl,
 liblog-any-adapter-perl,
 libmodule-info-perl,
 libmoo-perl,
 libnamespace-clean-perl,
 libsub-exporter-perl,
 libtext-csv-perl,
 libthrowable-perl,
 libyaml-libyaml-perl,
 libc6,
 libhtml-parser-perl
Description: VZG-Standortverwaltung
